/* Add application styles & imports to this file! */
@use '@angular/material' as mat;
//@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');


$theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  )
));

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  height: 100%;

  @include mat.all-component-themes($theme);
}

@include mat.core();
@include mat.color-variants-backwards-compatibility($theme);


.custom-dialog-container .mat-mdc-dialog-surface {
    padding: 20px;
    overflow: hidden;
}

.mdc-button {
    background-color: var(--primary-theme-color)!important; 
    color: var(--button-text-color)!important;
  }

  /* Hide the Google Pay button when isLoading is true */
.hidden {
    display: none;
  }

  iframe {
    min-width: 100%;
    min-height: 100%;
    border: 0;
  }

/* Ensure the parent container of the loading spinner takes up the full size */
.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; /* Full viewport height (modal's container) */
    width: 100%; /* Full width */
    position: absolute; /* To overlay it on top of the modal */
    top: 0;
    left: 0;
}

/* Spinner styling */
.loading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading::after {
    content: "";
    width: 50px;
    height: 50px;
    border: 10px solid #dddddd;
    border-top-color: #4b006d;
    border-top-color: var(--primary-theme-color, #4b006d) !important;
    border-radius: 50%;
    animation: loading 1s ease infinite;
}

/* Rotate the spinner */
@keyframes loading {
    to {
        transform: rotate(1turn);
    }
}

          /* Payment example */

          .example-full-width {
            width: 100%;
            margin-bottom: 8px;
          }
          
          .mat-stepper-horizontal {
            background-color: transparent;
          }

          .payment-type-container {
            margin-bottom: 40px!important;
        
            .mat-radio-button {
              margin-right: 40px;
            }
        
            .payment-logo {
              width: 90px;
              margin-left: 10px;
            }
          }

          h4 {
            margin-bottom: 40px;
          }

          .mat-mdc-card-content {
            margin-bottom: 40px;
          }
          
          .mat-mdc-card {
            padding: 40px;
            box-shadow: none!important;
            }
            .expire-month {
              width: 90px;
              margin-right: 10px;
            }
